<% visitor = notification.visitor %>
<% post = notification.post %>

  <div class="row w-100 mt-3 mb-3">
    <div class="col-1">
      <!--画像に変更-->
      <%= link_to user_path(visitor) do %>
        <% if visitor.icon_image.attached? %>
          <%= image_tag visitor.icon_image.variant(resize: "50x50"),class:"icon-image rounded-circle",style:"width: 50px; height: 50px; object-fit: cover" %>
        <% else %>
         <%= image_tag 'img/no_image.jpg', class:"icon-image rounded-circle",size: "50x50" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-8 pt-2">
      <!--helper.rbの情報-->
      <%= notification_form(notification) %></div>
    <div class="col pt-2 text-right original-text" style="color: #C0C0C0;"><%= time_ago_in_words(notification.created_at) %>前</div>

    <!--コメントレコードがnilかどうか-->
    <div class="col-sm-12">
      <% if !@comment.nil? %>
        <p class="moderate-font text-center" style="color: #C0C0C0;">"<%= @comment %>"</p>
      <% end %>
    </div>

  </div>






