<% if @user == current_user %>
  <h4>編集</h4>
  <%= form_with model:@user, local:true do |f| %>
    <%= f.text_field :name,autofocus: true %><br />
    <%= f.text_field :display_name,autofocus: true %><br />
    <%= f.text_field :introduction,autofocus: true %><br />
    <%= f.text_field :url,autofocus: true %><br />
    <%= f.label :"アイコン" %><br />
    <%= f.file_field :icon_image %><br />
    <%= f.label :"ヘッダー" %><br />
    <%= f.file_field :header_image %><br />
    <%= f.submit "更新する" %>
  <% end %>

<% else %>
  <h5>ページが存在しません</h5>
<% end %>