<div class="card mw-100">
  <% if @user.header_image.attached? %>
    <%= image_tag @user.header_image,class:"header-image" %>
  <% else %>
   <%= image_tag 'img/no_image2.jpg',class:"header-image" %>
  <% end %>
  <div class="card-img-overlay">
    <!--%= image_tag @user.icon_image,class:"icon-image-lg" %><br />-->


    <% if @user.icon_image.attached? %>
      <%= image_tag @user.icon_image.variant(resize: "400x400"),class:"rounded-circle",style:"width: 400px; height: 400px; object-fit: cover" %><br />
    <% else %>
     <%= image_tag 'img/no_image.jpg', class:"rounded-circle",size: "400x400"  %><br />
    <% end %>
    <div id="follow_form">
      <%= render "relationships/info", user: @user %>
    </div>

    <%= link_to "フォロー一覧",user_followings_path(@user) %>
    <%= link_to "フォロワー一覧",user_followers_path(@user) %><br />
    <%= @user.name %><br />
    <%= @user.display_name %><br />
    <%= @user.introduction %><br />
    <%= @user.url %><br />
    <% if @user == current_user %>
      <%= link_to "編集する",edit_user_path(@user) %>
    <% end %>
    <% if current_user != @user %>
      <%= link_to "chatを始める", chat_path(@user.id) %>
    <% end %>
  </div>
</div>

<%= render "posts/index", posts: @posts %>
