<div class="card mw-100">
  <%= image_tag @user.header_image,class:"header-image" %>
  <div class="card-img-overlay">
    <%= image_tag @user.icon_image,class:"icon-image-lg" %><br />
    <%= render "relationships/info", user: @user %>
    <%= link_to "フォロー一覧",user_followings_path(@user) %>
    <%= link_to "フォロワー一覧",user_followers_path(@user) %><br />
    <%= @user.name %><br />
    <%= @user.display_name %><br />
    <%= @user.introduction %><br />
    <%= @user.url %><br />
    <% if @user == current_user %>
      <%= link_to "編集する",edit_user_path(@user) %>
    <% end %>
  </div>
</div>

<%= render "posts/index", posts: @posts %>
