<div class="card mw-100 filter rounded-0 border-0">
  <!--ヘッダー-->
  <% if @user.header_image.attached? %>
    <%= image_tag @user.header_image,class:"header-image" %>
  <% else %>
   <%= image_tag 'img/no_image2.jpg',class:"header-image" %>
  <% end %>

  <div class="card-img-overlay">
    <!--アイコン画像-->
    <% if @user.icon_image.attached? %>
      <%= image_tag @user.icon_image.variant(resize: "300x300"),class:"icon-image rounded-circle",style:"width: 300px; height: 300px; object-fit: cover" %><br />
    <% else %>
     <%= image_tag 'img/no_image.jpg', class:"icon-image rounded-circle",size: "300x300"  %><br />
    <% end %>
    <!--フォローボタン-->
    <div id="follow_form">
      <%= render "relationships/info", user: @user %>
    </div>
    <!--フォロー一覧-->
    <div class="row mx-auto mt-3" style="width: 350px">
      <div class="col-6 text-center mb-3"><%= link_to "フォロー 一覧",user_followings_path(@user), class:"btn btn-outline-light", style: "width: 150px" %></div>
      <div class="col-6 text-center mb-3"><%= link_to "フォロワー 一覧",user_followers_path(@user), class:"btn btn-outline-light", style: "width: 150px" %></div>
    </div>
    <!--ユーザー情報-->
    <div class="row border-top border-bottom border-white mx-auto" style="width: 350px">
      <div class="col-sm-12 mb-3 mt-3"><%= @user.display_name %></div>
      <div class="col-sm-12 mb-3"><%= @user.introduction %></div>
      <!--application_helperで定義したメソッドを呼び出しURLをリンク化する-->
      <div class="col-sm-12 mb-3 fas fa-paperclip"><%= text_url_to_link(h(@user.url)).html_safe %></div>
    </div>

    <div class="row mx-auto mt-3">
      <div class="col-sm-12 mb-3">
        <% if @user == current_user %>
          <%= link_to "編集する",edit_user_path(@user),class:"btn btn-success" %>
        <% end %>
        <% if current_user != @user %>
          <%= link_to "chatを始める", chat_path(@user.id), class:"btn btn-outline-light mr-2" %>※チャットには相互フォローが必要です
        <% end %>
      </div>
    </div>

  </div>
</div>

<!--タブ表示-->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <div class="col-6 nav-link active text-center font-weight-bold text-secondary" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" data-toggle="tab">POSTS</div>
    <div class="col-6 nav-link text-center font-weight-bold text-secondary" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" data-toggle="tab">FAVORITES</div>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <% if @posts.present? %>
      <%= render "posts/index", posts: @posts %>
    <% else %>
    <div class="text-center m-5">
      投稿はありません。
    </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <% if @user.favorite_posts.present? %>
      <% if @user == current_user %>
        <%= render "posts/index", posts: current_user.favorite_posts %>
      <% else %>
        <%= render "posts/index", posts: @user.favorite_posts %>
      <% end %>
    <% else %>
      <div class="text-center m-5">
        投稿はありません。
      </div>
    <% end %>
  </div>
</div>