<div class="row my-5">
  <% if user_rooms.empty? %><p class="ml-4">メッセージはありません</p><% end %>
  <% user_rooms.each do |room| %>
    <div class="col-8 mx-auto mb-3 border border-secondary rounded pt-2 px-2">
      <div class="user border-bottom border-secondary">
      <%= link_to chat_path(room.user) do %>
        <span class="text-break"><%= room.user.name %></span>
      <% end %>
      </div>
      <%= link_to chat_path(room.room_id), class: "text-decoration-none" do %>
      <div class=" chat-min-heiht">
        <% if room.chats != [] %>
          <p class="pt-3 ml-3 mb-0 text-dark text-break"><%= room.chats.last.message %></p>
          <div class="small text-muted text-right text-break">

            <%= (room.chats.last).created_at.strftime("%Y/%m/%d %H:%M") %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>