<div class="container">
  <div class="row bg-light mt-3 rounded border border-info w-75 mx-auto">
    <div class="col-sm-12 mx-auto text-center p-2 border-bottom border-info bg-info text-white accordion collapsed" data-target="#collapseRank" data-toggle="collapse" id="accordion" aria-controls="collapseRank">話題の作品</div>
    <div id="collapseRank" class="col-sm-12 mt-2 text-center collapse" style="color: #C0C0C0;" data-parent="#accordion">いいねの週間ランキングです。好きな作家さんをみつけよう！</div>
    <% @week_post_like_ranks.each do |post| %>
      <div id="collapseRank" class="col-sm-6 collapse" data-parent="#accordion">
        <!--作品タイトル-->
        <div class="text-center mt-2"><%= post.title %></div>
        <!--メイン画像-->
        <%= link_to post_path(post) do %>
          <div class="mt-2 mb-2">
            <%= image_tag post.image,class:"w-100 rounded",style:"height:200px; object-fit: cover" %>
          </div>
        <% end %>
        <!--いいね、コメント-->
        <div class="row">
          <div class="col-sm-6 text-right pt-2">
            <div id="favorites_buttons_<%= post.id %>"><%= render "favorites/favorite", post: post %></div>
          </div>
          <div class="col-sm-6 text-left pt-2">
            <%= link_to "#{post.comments.count} コメント", post_path(post) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
