<div class="container">
  <div class="row p-5 mx-auto" style="width: 540px;">
    <%= form_with model:@post, local:true do |f| %>
    <div class="col-sm-12 border shadow-sm bg-light rounded-3 p-3">
      <p><%= f.submit '投稿',class: "btn btn-secondary btn-lg btn-block rounded-pill" %></p>
      <p class="text-center"><%= f.text_field :title,class:"form-control",placeholder:"タイトル" %></p>
      <p class="text-center"><%= f.text_area :text,class:"form-control",placeholder:"本文" %></p>
      <%= f.file_field :image %>


      <div class="row p-3">
        <div class="col">
          <label class="col-form-label">制作期間</label>
        </div>
        <div class="col">
          <%= f.number_field :making_time,class:"form-control" %>
        </div>
        <div class="col">
          <label class="col-form-label">時間</label>
        </div>
      </div>
      <p class="text-center"><%= f.text_field :instrument,class:"form-control",placeholder:"使用画材・カメラの機種など" %></p>

      <div class="row p-3">
        <div class="col">
          ジャンル
        </div>
        <div class="col">
          <%= f.select :genre, ['イラスト', '写真', '立体'], {include_blank: '---'},class:"form-control" %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>

