<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <h2>詳細</h2>

      <h3 class="text-center mt-5 font-weight-bold"><%= @post.title %></h3>
      <!--枠線-->
      <div class="border border-secondary border-bottom-0 border-right-0 pt-3 pl-5 mb-5">
        <div class="row">
          <div class="offset-md-7 col text-right">制作時間：<%= @post.making_time %>時間</div>
          <div class="col text-right"><%= @post.instrument %></div>
        </div>
        <div class="mt-3 mb-3">
          <%= image_tag @post.image,class:"w-100 rounded" %>
        </div>

        <div class="offset-md-10 col-2 p-2 bg-secondary text-white-50 rounded-lg text-center mb-3"><%= @post.genre %></div>



        <div class="row d-flex align-items-center mb-3" style="height:120px;">
          <div class="col-sm-3">
          <%= link_to user_path(@post.user) do %>
            <!--%= image_tag @post.user.icon_image,class:"icon-image" %>-->
            <%= image_tag @post.user.icon_image.variant(resize: "120x120"),class:"rounded-circle",style:"width: 120px; height: 120px; object-fit: cover" %>
          <% end %>
          </div>
          <div class="col-sm-9"><%= @post.text %></div>
        </div>

        <!--コメント-->
        <div>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
          <div>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
            <%= image_tag comment.user.icon_image.variant(resize: "50x50"),class:"rounded-circle",style:"width: 50px; height: 50px; object-fit: cover" %>
            <!--%= image_tag comment.user.icon_image,class:"icon-image" %>-->
            <%= comment.user.name %>
            <%= comment.text %>
            <% if comment.user == current_user %>
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
            <% end %>
          </div>
        <% end %>
        </div>
        <div>
        <%= form_with(model:[@post, @comment], local: true) do |f| %>
          <%= f.text_area :text, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
        </div>

        <% if @post.user == current_user %>
          <%= link_to "削除",post_path(@post),method: :delete %>
        <% end %>

        <%= render "posts/favorite", post: @post %>
      </div>

    </div>
  </div>
</div>
