<div class="container">
  <div class="row">
    <div class="col-sm-11 mx-auto">

      <!--作品タイトル-->
      <h3 class="text-center mt-5 font-weight-bold"><%= @post.title %></h3>
      <!--枠線-->
      <div class="border border-bottom-0 border-right-0 mb-5">
        <!--画像上の情報-->
        <div class="row mt-3 mr-1">
          <div class="offset-sm-5 col text-right">
            <% if @post.making_time.present? %>
              制作時間：<%= @post.making_time %>日
            <% end %>
          </div>
          <div class="col text-right"><%= @post.instrument %></div>
        </div>

        <!--メイン画像-->
        <div class="m-3">
          <%= image_tag @post.image,class:"w-100 rounded" %>
        </div>
        <div class="row">
          <div class="col-9 text-right pt-1">
            <div id="favorites_buttons_<%= @post.id %>"><%= render "favorites/favorite", post: @post %></div>
          </div>
          <div class="col-3">
            <!--ツイッターシェアボタン-->
            <%= link_to  "https://twitter.com/share?url=#{request.url}&text=「#{@post.title}」を、Twitterでみんなに広めよう!", title: 'Twitter', target: '_blank' do %>
              <div class="fab fa-twitter btn btn-link" style='color: #3399FF;'>Twitterでシェア</div>
            <% end %>
          </div>
        </div>

        <!--アイコンと本文-->
        <div class="border-top border-bottom m-2">
          <div class="row d-flex align-items-center m-3" style="height:auto;">
            <div class="col-3">
            <%= link_to user_path(@post.user) do %>
              <% if @post.user.icon_image.attached? %>
                <%= image_tag @post.user.icon_image.variant(resize: "120x120"),class:"icon-image rounded-circle ",style:"width: 120px; height: 120px; object-fit: cover" %>
              <% else %>
               <%= image_tag 'img/no_image.jpg', class:"icon-image rounded-circle ",size: "120x120" %><br />
              <% end %>
            <% end %>
            </div>
            <div class="col-9"><%= @post.text %></div>
          </div>
        </div>

        <div class="text-right mr-3">
          <%= raw(@post.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-outline-secondary mb-2", style:"width: 100px" }.join(' ')) %>
        </div>

        <!--コメント一覧-->
        <div class="row mt-3 mb-3 ml-2">
          <div class="col-sm-12">
            <p>コメント件数：<%= @post.comments.count %></p>
            <div class="comment-create">
              <div id = "comments_area">
                <%= render "comments/index", post: @post %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="comment-create"><%= render "comments/form", post: @post, comment: @comment %></div>
          </div>
        </div>


        <!--投稿削除-->
        <div class="row mt-3 mb-3">
          <div class="col-12 text-right">
            <% if @post.user == current_user %>
              <%= link_to "投稿を削除する",post_path(@post),method: :delete, data: {confirm: "投稿を削除しますか？"}, class:"btn btn-outline-danger mt-3 mb-5" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
