<!DOCTYPE html>
<html>
  <head>
    <title>DRAWours</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--ファビコンを表示-->
    <%= favicon_link_tag('favicon.ico') %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  </head>

  <body>
    <!--ヘッダー作成中-->
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <a class="navbar-brand" href="/"></a>
        <!--要素を右寄せ-->
        <div class="justify-content-end">
          <!--端末で表示する新規投稿マーク-->
          <% if user_signed_in? %>
            <%= link_to new_post_path do %>
              <div class="fas fa-pen-square fa-2x btn icon-color bottom-nav form-inline"></div>
            <% end %>
          <% end %>
          <!--ハンバーガーメニューアイコン-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <!--ハンバーガーメニュー中身-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto pt-2 pb-2">
            <% if user_signed_in? %>
              <li class="nav-item m-1">
                <%= link_to "logOUT",destroy_user_session_path,method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav-link" %>
              </li>
              <!--マイページ-->
              <li class="nav-item m-1 top-nav">
                <%= link_to "ourPOSTS",posts_path, class: "nav-link" %>
              </li>
              <li class="nav-item m-1 top-nav">
                <%= link_to "newPOSTS",new_post_path, class: "nav-link" %>
              </li>
              <li class="nav-item m-1 top-nav">
                <%= link_to "myPAGE",user_path(current_user), class: "nav-link mr-1" %>
              </li>
              <li class="nav-item m-1 top-nav">
                <%= link_to "myCHAT",chats_path, class: "nav-link mr-1" %>
              </li>
              <!--通知アイコン-->
              <li class="nav-item m-1 top-nav">
                <%= link_to notifications_path do %>
                  <% if unchecked_notifications.any? %>
                    <!--通知来た時のベル-->
                    <div class="nav-link fas fa-bell fa-lg mt-1 n-circle"></div>
                  <% else %>
                    <div class="nav-link far fa-bell fa-lg mt-1"></div>
                  <% end %>
                <% end %>
              </li>
                <!--お問い合わせ-->
              <li class="nav-item m-1">
                <%= link_to inquiry_path do %>
                  <div class="nav-link mt-1 fa-lg far fa-envelope"></div>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録",new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン",new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <!--検索フォーム-->
          <% if user_signed_in? %>
            <button type="button" class="btn btn-secondary mt-2 mb-2 mr-2 form-inline" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-search" ></i>
            </button>
            <div class="collapse" id="collapseExample">
              <div class="form-inline my-2 my-sm-0">
                <%= form_tag(searches_path,:method => 'get') do %>
                  <%= text_field_tag "content", nil, placeholder: 'Search', class:"form-control" %>
                  <%= select_tag 'model',options_for_select({"制作者"=>"user","タイトル"=>"post"}), class:"form-control"%>
                  <%= select_tag 'method',options_for_select({"前方一致"=>"forward_match","後方一致"=>"backward_match","完全一致"=>"perfect","部分一致"=>"partial" }), class:"form-control"%>
                  <%= submit_tag 'Search', :name => nil,class:"btn btn-outline-light my-2 my-sm-0" %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </nav>
    </header>

    <%= render partial: 'layouts/flash' %>
    <!--レスポンシブの際SCSSで少しpaddingをつける-->
    <div class="main-contents">
      <%= yield %>
    </div>
    <!--端末で表示されるメニューバー(bottom-navで制限)-->
    <% if user_signed_in? %>
      <ul class="w-100 shadow-lg list-unstyled list-group list-group-horizontal text-center bottom-nav fixed-bottom">
        <button class="mx-auto list-group-item list-group-item-action">
          <%= link_to posts_path do %>
           <div class="far fa-images fa-lg btn"></div>
          <% end %>
        </button>
        <button class="mx-auto list-group-item list-group-item-action">
          <%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
              <!--通知来た時のベル-->
              <div class="nav-link fas fa-bell fa-lg mt-1 n-circle btn "></div>
            <% else %>
              <div class="nav-link far fa-bell fa-lg mt-1 btn"></div>
            <% end %>
          <% end %>
        </button>
        <button class="mx-auto list-group-item list-group-item-action">
          <%= link_to user_path(current_user) do %>
            <div class="far fa-user fa-lg btn"></div>
          <% end %>
        </button>
        <button class="mx-auto list-group-item list-group-item-action">
          <%= link_to chats_path do %>
            <div class="far fa-comments fa-lg btn"></div>
          <% end %>
        </button>
      </ul>
    <% end %>

    <footer>

      <nav class="navbar navbar-dark bg-dark p-4 footer fixed-bottom">
        <span class="navbar-text m-auto">
          ©︎misamisaportfolio
        </span>
      </nav>
    </footer>
  </body>
</html>
